@font-face {
	font-display: swap;
	font-family: 'Aeroport';
	font-weight: 700;
	src: url('../fonts/Aeroport-Bold.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Aeroport';
	font-weight: 400;
	src: url('../fonts/Aeroport.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'SF Pro Display';
	font-weight: 400;
	src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
}