.side-nav
	.side-nav__inner
		a.side-nav__logo(href='#')
			svg.side-nav__logo-icon
				use(xlink:href='img/svgSprite.svg#logo')
		.side-nav__user.user
			a.user__avatar.side-nav__avatar(href='#')
				svg.user__cap
					use(xlink:href='img/svgSprite.svg#icon__cap')
				p.user__letter A
			a.user__logout.side-nav__logout(href='#')
				svg.user__logout-icon
					use(xlink:href='img/svgSprite.svg#icon__logout')