
+table-modal([
	{
		create: '1 июня в 14:23',
		heading: 'ООО "ПР-Консалтинг"',
		requisites: [
			{
				requisite: 'ИНН 938517492735',
			},
			{
				requisite: 'ОГРН 15478293934',
			},
		],
		subtitleContacts: 'Контакты',
		contacts: [
			{
				contactIcon: 'user',
				contact: 'Шурупова Елена Петровна'
			},
			{
				contactIcon: 'mob-device',
				contact: '+7 (900) 122-11-44'
			}
		],
		subtitleState: 'Текущий статус заявки',
		data: 'Счёт активен',
		mod: 'active',
		time: '3 июня 11:02',
		message: 'Миссия выполнена — клиент совершил операцию по счёту. Ты получаешь вознаграждение за активного клиента!',
		subtitleHistory: 'История заявки',
		states: [
			{
				mod: 'accepted',
				data: 'Счёт открыт',
				time: '2 июня 15:47'
			},
			{
				mod: 'waiting',
				data: 'Встреча назначена',
				time: '1 июня 12:32'
			},
			{
				mod: 'waiting',
				data: 'Назначение встречи',
				time: '31 мая 11:20'
			}
		]
	},
], 'row-1')
+table-modal([
	{
		create: '1 июня в 14:23',
		heading: 'ООО "МИР ИДЕЙ"',
		requisites: [
			{
				requisite: 'ИНН 938517492735',
			},
			{
				requisite: 'ОГРН 15478293934',
			},
		],
		subtitleContacts: 'Контакты',
		contacts: [
			{
				contactIcon: 'user',
				contact: 'Шурупова Елена Петровна'
			},
			{
				contactIcon: 'mob-device',
				contact: '+7 (900) 122-11-44'
			}
		],
		subtitleState: 'Текущий статус заявки',
		data: 'Счёт активен',
		mod: 'waiting',
		time: '3 июня 11:02',
		message: 'Миссия выполнена — клиент совершил операцию по счёту. Ты получаешь вознаграждение за активного клиента!',
		subtitleHistory: 'История заявки',
		states: [
			{
				mod: 'accepted',
				data: 'Счёт открыт',
				time: '2 июня 15:47'
			},
			{
				mod: 'waiting',
				data: 'Встреча назначена',
				time: '1 июня 12:32'
			},
			{
				mod: 'waiting',
				data: 'Назначение встречи',
				time: '31 мая 11:20'
			}
		]
	},
], 'row-2')
+table-modal([
	{
		create: '1 июня в 14:23',
		heading: 'ООО "СТРОЙ-ПЕТРО-СБЫТ и партнеры"',
		requisites: [
			{
				requisite: 'ИНН 938517492735',
			},
			{
				requisite: 'ОГРН 15478293934',
			},
		],
		subtitleContacts: 'Контакты',
		contacts: [
			{
				contactIcon: 'user',
				contact: 'Шурупова Елена Петровна'
			},
			{
				contactIcon: 'mob-device',
				contact: '+7 (900) 122-11-44'
			}
		],
		subtitleState: 'Текущий статус заявки',
		data: 'Счёт активен',
		mod: 'active',
		time: '3 июня 11:02',
		message: 'Миссия выполнена — клиент совершил операцию по счёту. Ты получаешь вознаграждение за активного клиента!',
		subtitleHistory: 'История заявки',
		states: [
			{
				mod: 'accepted',
				data: 'Счёт открыт',
				time: '2 июня 15:47'
			},
			{
				mod: 'waiting',
				data: 'Встреча назначена',
				time: '1 июня 12:32'
			},
			{
				mod: 'waiting',
				data: 'Назначение встречи',
				time: '31 мая 11:20'
			}
		]
	},
], 'row-3')

+table-modal([
	{
		create: '1 июня в 14:23',
		heading: 'АНО ДПО "ИНСТИТУТ ГОСУДАР&shy;СТВЕННОГО УПРАВЛЕНИЯ И КВАЛИ&shy;ФИКАЦИИ СОТРУДНИКОВ"',
		requisites: [
			{
				requisite: 'ИНН 154782356572356',
			},
			{
				requisite: 'ОГРН 15478293934',
			},
		],
		subtitleContacts: 'Контакты',
		contacts: [
			{
				contactIcon: 'user',
				contact: 'Мартынов Сергей Петрович'
			},
			{
				contactIcon: 'mob-device',
				contact: '+7 (999) 111-11-44'
			}
		],
		subtitleState: 'Текущий статус заявки',
		data: 'Счёт активен',
		mod: 'active',
		time: '3 июня 11:02',
		message: 'Миссия выполнена — клиент совершил операцию по счёту. Ты получаешь вознаграждение за активного клиента!',
		subtitleHistory: 'История заявки',
		states: [
			{
				mod: 'accepted',
				data: 'Счёт открыт',
				time: '2 июня 15:47'
			},
			{
				mod: 'waiting',
				data: 'Встреча назначена',
				time: '1 июня 12:32'
			},
			{
				mod: 'waiting',
				data: 'Назначение встречи',
				time: '31 мая 11:20'
			}
		]
	},
], 'row-4')

+table-modal([
	{
		create: '1 июня в 14:23',
		heading: 'АНО ДПО "ИНСТИТУТ ГОСУДАР&shy;СТВЕННОГО УПРАВЛЕНИЯ И КВАЛИ&shy;ФИКАЦИИ СОТРУДНИКОВ"',
		requisites: [
			{
				requisite: 'ИНН 154782356572356',
			},
			{
				requisite: 'ОГРН 15478293934',
			},
		],
		subtitleContacts: 'Контакты',
		contacts: [
			{
				contactIcon: 'user',
				contact: 'Воронин Арсений Михайлович'
			},
			{
				contactIcon: 'mob-device',
				contact: '+7 (999) 111-11-44'
			}
		],
		subtitleState: 'Текущий статус заявки',
		data: 'Счёт активен',
		mod: 'rejected',
		time: '3 июня 11:02',
		message: '<aprong>1 июня 11:02</strong>Миссия выполнена — клиент совершил операцию по счёту. Ты получаешь вознаграждение за активного клиента!',
		subtitleHistory: 'История заявки',
		states: [
			{
				mod: 'accepted',
				data: 'Счёт открыт',
				time: '2 июня 15:47'
			},
			{
				mod: 'waiting',
				data: 'Встреча назначена',
				time: '1 июня 12:32'
			},
			{
				mod: 'waiting',
				data: 'Назначение встречи',
				time: '31 мая 11:20'
			}
		]
	},
], 'row-5')