// В этом файле должны быть стили для БЭМ-блока page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
	position: relative;
	&__header {
		flex: 0 0 auto;
	}
	&__main {
		flex: 1 1 auto;
	}
	&__footer {
		flex: 0 0 auto;
	}
	&__side-nav {
		right: 0;
		position: fixed;
		top: 0;
		z-index: 99;
		height: 100%;
		width: 240px;
		transform: translateX(240px);
		transition: transform .25s ease;
		@media (min-width: $screen-sm) {
			display: none;
		}
		.open-nav & {
			transform: translateX(0);
		}
	}
	&__darker {
		background: var(--color-darker);
		height: 100%;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		transition: opacity .5s ease;
		width: 100%;
		z-index: 98;
		@media (min-width: $screen-sm) {
			display: none;
		}
		.open-nav & {
			opacity: 1;
			pointer-events: auto;
		}
	}
	&__table-modal {
		bottom: 0;
		height: calc(100% - 76px);
		position: fixed;
		right: 0;
		transform: translateY(100%);
		transition: transform .25s ease;
		width: 100%;
		z-index: 99;
		@media (min-width: $screen-nexus) {
			height: 100%;
			max-width: 500px;
			top: 0;
			transform: translate(100%, 0);
		}
		@media (min-width: $screen-md) {
			max-width: 620px;
		}
		.table-modal-open & {
			transform: translateY(0);
			@media (min-width: $screen-nexus) {
				transform: translate(0, 0);
			}
		}
	}
	&__modal-darker {
		background: var(--color-darker);
		height: 100%;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		transition: opacity .5s ease;
		width: 100%;
		z-index: 98;
		.open-modal-darker & {
			opacity: 1;
			pointer-events: auto;
		}
	}
}
